.btn-firmware-update-container {
    width: 100%;
    display: grid;
    display: none;
    .btn-firmware-update {
        justify-self: right;
        margin-right: 1em;
    }
}


.modal-firmware-update {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);


    .modal-firmware-update-content {
        position: relative;
        background-color: var(--background);
        margin: 15% auto;
        padding: 1.5em;
        width: 60%;

        border-radius: 1em;

        .modal-close-container {
            width: 100%;
            display: grid;
            .modal-close {
                position: absolute;
                right: 1em;
                top: 0.5em;


                color: #aaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
                cursor: pointer;
            }
    
            .modal-close:hover,
            .modal-close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }

}
  
  

  


.modal-firmware-update-content {
    
    .modal-firmware-board {
        display: grid;
        grid-template-columns: min-content auto;
        gap: 1em;
        align-items: center;
        padding: 0.5em;
        padding-left: 0.8em;
    
        div {
            width: 1em;
            height: 1em;
    
            border-radius: 2px;
            border: 1px solid rgb(32, 32, 32);
    
            input[type="checkbox"] {
                display: none;
            }
    
            svg {
                display: none;
            }
            transition: all 0.2s ease-in-out;
        }
        transition: all 0.1s ease-in;
    }


    .modal-file-select {
        margin-top: 1em;
        margin-bottom: 1em;
        .drop-area {
            margin-top: 1em;
            margin-bottom: 1em;
            width: 100%;
            padding: 0.5em;
            padding-top: 2em;
            padding-bottom: 2em;
            text-align: center;
            border: 2px dotted #000;
            background: var(--background-light)
        }
    }

    .modal-firmware-confirm {
        width: 100%;
        text-align: center;
    }   

}

.checked > div {
    background-color: #c10000;
    border-color: #c10000;
    svg {
        display: block;
        position: absolute;
        width: 95%;
        height: 95%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        fill: white;
    }
}


.btn-firmware-update, .modal-firmware-confirm {
    outline: 0;
    border: 0;
    background-color: var(--background-light);
    padding: 0.5em;
    padding-left: 0.8em;
    padding-left: 0.8em;
    border-radius: 1em;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    margin-bottom: 1em;
}

.btn-firmware-update:hover, .modal-firmware-confirm:hover {
    background-color: rgba(0,0,0, 0.2);
}