.list {
    display: grid;
    grid-template-rows: auto;
    gap: 1em;

    .list-entry {
        width: 100%;
        border: var(--border-listing-board);
        background: var(--background-listing-board);
    }
    .board {
        cursor: pointer;
        display: grid;
        //grid-template-columns: 1em calc(100% / 4 - 2em) calc(100% / 4 - 2em) calc(100% / 4 - 2em) calc(100% / 4 - 2em) 1em;
        //grid-auto-columns: minmax(0, 1fr);
        //grid-auto-flow: column;
        grid-template-columns: repeat( auto-fit, minmax(1em, 1fr) );
        padding: 0.5em;
        gap: 1em;
        align-items: center;

        .board-entry-icon, svg {
            width: fit-content;
        }

        .board-entry {
            display: grid;
            grid-template-rows: auto auto;

            align-items: center;
            
        }
        
        .board-entry-content {
            font-size: 1.2em;
        }
        .board-entry-desc {
            background-color: rgba(0,0,0,0.10);
            width: fit-content;
            border-radius: 1em;
            padding-right: 0.8em;
            padding-left: 0.8em;
            font-size: 0.7em;
        }
        .board-entry-first {
            display: flex;
            justify-items: left;
            align-items: center;

            .board-entry-first-icon {
                display: flex;
                width: 3em;
                align-self: center;
            }

            .board-entry-first-name {
                display: grid;
                grid-template-rows: auto auto;
                align-items: center;
            }
        }

        .board-entry-arrow {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: end;
        }

        .board-entry-status {
            width: 100%;
            justify-items: center;
            .dot {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                margin: 0.5em;
            }
    
            .green {
                background: green;
            }
    
            .red {
                background: red;
            }
        }

    }
}

.no-boards {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
}