.settings {
    padding: 1.5em;
    background-color: var(--color);

    * {
        color: var(--color-inv);
    }

    table {
        width: 100%;
    }

    td {
        padding: 0.5em 1.5em;
        padding-left: 0;
    }

    td:first-child {
        padding-left: 0;
        // use minimum width for text
        width: 1px;
        white-space: nowrap;
    }

    td:last-child {
        padding-right: 0;
    }

    .notification {
        display: block;
        width: 100%;
        padding: 0.3em;
    }

    .notification-none {
        display: none;
    }

    div.notification-error {
        border: 1px solid #a80a0a;
        background-color: #fdcdcd;
    }

    div.notification-success {
        border: 1px solid #0aa824;
        background-color: #cdfdcd;
    }

    input,
    select {
        padding: 0.2em;
        width: 100%;
    }

    input[type="text"],
    input[type="password"] {
        border: 1px solid lightgray;
        border-radius: 2px;
    }

    input[readonly=""], input[disabled=""] {
        background-color: var(--form-read-only);
    }

}


input[type=submit] {
    margin-top: 0.25em;
    width: 100%;
    background-color: var(--nav-link-base-color);
    border: 1px solid var(--nav-link-base-color);
    padding: 0.5em;
    border-radius: 1em;
    font-size: 0.9em;
    color: var(--color);
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--nav-link-highlight-color);
    border-color: var(--nav-link-highlight-color);
}
