:root {
    // New colors
    --color: white;
    --color-inv: black;
    --color-accent: #022848;

    --background: #033660;
    --background-header: #00569d;
    --background-listing-board: var(--background-header);
    --background-light: var(--background-header);
    
    --border-basic: 1px solid #fff;
    --border-listing-board: var(--border-basic);

    --nav-link-base-color: var(--background);
    --nav-link-highlight-color: rgb(0, 66, 121);

    --form-read-only: rgb(240, 240, 240);

    --font-family: "Poppins", sans-serif;
}