.content-root {
    justify-self: center;
    align-self: center;
    overflow: visible;
}

.login-form {
    width: 18em;
    position: relative;
    background-color: var(--background-header);
    padding: 2em;
    border-radius: 1em;
}

.login-item {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 0.3em;
}

.login-item:first-child {
    margin-top: 0;
    padding: 0;
}

.login-header {
    font-size: 1.2em;
}

.login-none {
    display: none;
}

.login-error {
    border: 1px solid #a80a0a;
    background-color: #fdcdcd;
}

.login-input[type=button], .login-input[type=submit] {
    background-color: var(--background);
    border: 1px solid var(--background);
    padding: 0.5em;
    border-radius: 1em;
    font-size: 0.9em;
    cursor: pointer;
}

.login-input[type=button]:hover, .login-input[type=submit]:hover {
    background-color: var(--nav-link-highlight-color);
    border-color: var(--nav-link-highlight-color);
}

.login-input[type=text], .login-input[type=password] {
    color: black;
}