* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family); 
}

//h1, h2, h3, h4, span, a, p, th, td, tr, button {
* {
    color: var(--color);
}
svg {
    fill: var(--color);
}

html {
    height: 100vh;
    width: 100vw;
    position: relative;
}

body {
    background-color: var(--background);
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr;
}

span {
    display: block;
}

a {
    color: var(--color);
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    background-color: var(--background-header);

    a {
        text-decoration: none;
    }

    .nav-links {
        display: flex;
        justify-content: space-between;
        margin-right: 1em;
    }

    .nav-title, .nav-item {
        display: flex;
        padding: 0.4em;
        padding-left: 0.6em;
        padding-right: 0.6em;
        border-radius: 1em;

        outline: none;

        margin: 0.6em;

        align-items: center;
        cursor: pointer;
        gap: 0.1em;

        span {
            font-size: 1em;
        }
    }

    input[type=submit] {
        // remove styling
        background-color: transparent;
        border: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
        font-family: var(--font-family);
        font-size: 1em;
    }

    .nav-item {
        background-color: var(--nav-link-base-color);
    }

    .nav-item:hover {
        background-color: var(--nav-link-highlight-color);
    }
}

section {
    padding: 1em;
    margin-top: 1em;
    //margin-bottom: 1em;
}

.content-root {
    overflow-y: auto;
}