<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Standard Stylesheets -->
    <link rel="stylesheet" href="/static/css/colors.min.css">
    <link rel="stylesheet" href="/static/css/main.min.css">

    <!-- Fonts -->
    <link rel="stylesheet" href="/static/css/fonts.min.css">

    <!-- Standard Javascript -->
    <script src="/static/js/main.js" defer></script>

    <!-- Tour -->
    <script defer src="/static/js/tour/driver.min.js"></script>
    <script defer src="/static/js/tour/tour.js"></script>
    <link rel="stylesheet" href="/static/js/tour/driver.min.css">
    <link rel="stylesheet" href="/static/js/tour/driver-fixes.min.css">

    <!-- Set svg favicon -->
    <link rel="icon" type="image/svg+xml" href="/static/img/favicon/blue-train.svg">

    <!-- Page title, set to title | KOW... if page is defined -->
    <title>{% if page is defined %}{{ page.title + " | " }}{% endif %} Kameraortungswagen | EBD</title>
</head>
<body>
    {% include 'include/elements/navigation.html' %}
    
    <div class="content-root">