{% include 'include/head.html' %}

<link rel="stylesheet" href="/static/css/admin.min.css">


<script>
    function queryUserData() {
        var csrf = "{{ csrf_token() }}";
        var userIdSlct = document.getElementById("user_id");
        var currentUserOptn = userIdSlct.options[userIdSlct.selectedIndex];

        var usernameTb = document.getElementById("user_name");
        var passwordTb = document.getElementById("user_password");
        var deleteTb = document.getElementById("user_delete");
        var roleSlct = document.getElementById("user_role");

        if (currentUserOptn.value <= 0) {
            // no user selected, clear inputs
            usernameTb.value = "";
            passwordTb.value = "";
            deleteTb.value = "";

            for (var i = 0; i < roleSlct.options.length; i++) {
                    if ("{{ Role.USER.value }}" === roleSlct.options[i].value) {
                        roleSlct.selectedIndex = i;
                        break;
                    }
                }
            return;
        }

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/admin/query", true);
        xhr.setRequestHeader("X-CSRFToken", csrf);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded")
        xhr.onreadystatechange = () => {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                usernameTb.readOnly = false;
                passwordTb.readOnly = false;
                deleteTb.readOnly = false;
                roleSlct.readOnly = false;
            }

            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                var userData = JSON.parse(xhr.responseText);
                usernameTb.value = userData["username"];
                passwordTb.value = "";
                deleteTb.value = "";

                for (var i = 0; i < roleSlct.options.length; i++) {
                    if (userData["role"] === roleSlct.options[i].value) {
                        roleSlct.selectedIndex = i;
                        break;
                    }
                }
            }
        };
        usernameTb.readOnly = true;
        passwordTb.readOnly = true;
        deleteTb.readOnly = true;
        roleSlct.readOnly = true;
        xhr.send("uid=".concat(currentUserOptn.value));
    }
</script>

<section>
    <h1>Admin page</h1>

    <p>Change application settings and manage users.</p>
</section>

<section>
    <div class="settings">
        <form class="user-settings" method="post" action="/admin">
            <div class="notification notification-{{ notification_type }}">{{ notification }}</div>

            <table>
                <tr>
                    <td><label for="user_id">User ID</label></td>
                    <td>
                        <select id="user_id" name="uid" onchange="queryUserData();">
                            <option {% if edit_user_id == 0 %}selected{% endif %} value="0">Select user ID</option>
                            <option {% if edit_user_id == -1 %}selected{% endif %} value="-1">Create new user</option>
                            {% for user in get_all_users() %}
                            <option {% if edit_user_id == user.uid() %}selected{% endif %} value="{{ user.uid() }}">{{ user.uid() }} - {{ user.username() }} - {{ user.role().value.capitalize() }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>

                <tr>
                    <td><label for="user_name">User name</label></td>
                    <td><input id="user_name" type="text" name="username" value="{{ edit_user_name }}"></td>
                </tr>

                <tr>
                    <td><label for="user_role">User role</label></td>
                    <td>
                        <select id="user_role" name="role">
                            {% for role in Role %}
                            <option {% if edit_user_role == role.value %}selected{% endif %} value="{{ role.value }}">{{ role.value.capitalize() }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>

                <tr>
                    <td><label for="user_password">User password</label></td>
                    <td><input id="user_password" type="password" name="password" value="{{ edit_user_password }}"></td>
                </tr>

                <tr>
                    <td><label for="user_delete">Delete (type "Delete")</label></td>
                    <td><input id="user_delete" type="password" name="delete" value=""></td>
                </tr>
            </table>

            <input type="submit" value="Save changes">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        </form>
    </div>
</section>

{% include 'include/footer.html' %}
