{% include 'include/head.html' %}

<script defer src="/static/js/listing/refresh-boards.js"></script>
<link rel="stylesheet" href="/static/css/listing/listing.min.css">

<section>
    <h1>Connected Boards</h1>

    <p>Select an entry from one of the connected boards listed below to interact with the board.</p>
    <p>Connect a new board by entering this servers IP ({{ request.host.split(':')[0] }}) using Bluetooth Serial.</p>

</section>

{% include 'include/elements/firmware-update.html' %}

<section id="list" class="list">

    <span class="no-boards">No boards connected (yet)!</span>
    
</section>

{% include 'include/footer.html' %}