{% include 'include/head.html' %}

{% include 'include/elements/calibration.html' %}

<script>
    // Setup
    const BOARD_ID = "{{ board.id }}";
    const CSRF = "{{ csrf_token() }}";

    let CAMERA_ID = undefined;
</script>

<!-- ChartJS -->
<script defer src="/static/js/chartjs/chart-html-legend.js"></script>
<script defer src="/static/js/chartjs/chart.umd.js"></script>

<!-- Page scripts -->
<script defer src="/static/js/dashboard/speedometer.js"></script>
<script defer src="/static/js/dashboard/configuration.js"></script>
<script defer src="/static/js/dashboard/actions.js"></script>
<script defer src="/static/js/dashboard/refresh-dashboard.js"></script>

<!-- Page styling -->
<link rel="stylesheet" href="/static/css/dashboard/dashboard.min.css">
<link rel="stylesheet" href="/static/css/dashboard/speedometer.min.css">
<link rel="stylesheet" href="/static/css/dashboard/without-camera.min.css">
<link rel="stylesheet" href="/static/css/dashboard/media-query.min.css">

<div id="content-grid" class="content-grid without-camera">

    <section class="content-column left">
    
        <h3>Sensor Reads</h3>
        <div data-tour="data" class="data">

            <div class="data-point steering" data-tour="data-steering">
                <span class="data-point-title">Steering Angle</span>
                <div>
                    <span id="steering-angle" class="data-point-data">? °</span>
                    <span class="data-point-data"> | </span>
                    <span id="steering-angle-text" class="data-point-data">?</span>
                </div>
                <span id="steering-angle-reading" class="data-point-data">? mV</span>
            </div>

            <div id="odometer_background" class="data-point odometer" data-tour="data-odometer">
                <span class="data-point-title">Odometer</span>
                <span id="odometer-speed" class="data-point-data">? mm/s</span>

                <!-- tachometer -->
                <div id="speedometer-odometer" class="speedometer">
                    <div class="speedometer-container">
                        <div class="speedometer-ball">
                            <span>?</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="11.339" height="83.15" viewBox="0 0 3 22" xmlns:v="https://vecta.io/nano"><path d="M2.575 21.531H.194zm0 0L2.573 6.185l-.794-2.117V.099H.985v3.969L.192 6.185.194 21.531z" fill="#d2d2d2"/></svg>
                        </div>
    
                        <svg xmlns="http://www.w3.org/2000/svg" width="268.346" height="268.346" viewBox="0 0 71 71" xmlns:v="https://vecta.io/nano"><style>.B{fill:#fff}.C{font-size:22.631px}.D{font-family:sans-serif}.E{fill:#000}.F{font-weight:bold}.G{font-family:Arial}</style><g transform="matrix(.264583 0 0 .264583 35.610155 37.35425)"><g stroke="#fff"><path d="M-58.779 80.902l-14.695 20.225m-5.118-24.164l-10.717 10.495m-1.017-24.68l-12.317 8.561m3.112-24.503l-13.572 6.387m7.155-23.642l-14.447 4.034m20.943-23.162l-24.863 2.613m14.532-19.973l-14.97-.942m17.659-17.27l-14.604-3.425m20.293-14.083l-13.828-5.813m22.357-10.501l-12.665-8.037"/><path d="M-74.314-66.913l-18.579-16.728m24.567-2.565l-9.317-11.755m24.65 1.567l-7.226-13.145m24.044 5.658l-4.933-14.166m22.763 9.587l-2.502-14.79M0-100v-25m18.345 16.54l2.502-14.79m15.328 19.369l4.933-14.166m11.885 21.653l7.226-13.145m8.107 23.333l9.317-11.755m-3.329 31.048l18.579-16.728m-5.275 17.135l11.948-9.069m-6.69 16.634l12.665-8.037m-8.059 16.015l13.293-6.949m-9.37 15.285l13.828-5.813M95.106-30.902l23.776-7.725m-11.788 13.508l14.604-3.425M108.82-16.069l14.839-2.191M109.783-6.907l14.97-.942M109.976 2.304l14.997.314m-25.521 7.835l24.863 2.613m-16.263 7.546l14.734 2.811m-16.838 6.158l14.447 4.034m-17.294 4.728l14.059 5.229m-17.629 3.264l13.572 6.387M86.603 50l21.651 12.5m-17.928.278l12.317 8.561m-17.887-1.222l11.558 9.561m-17.722-2.715l10.717 10.495m-17.433-4.189l9.801 11.355M58.779 80.902l14.695 20.225"/></g><path d="M-56.419 70.388c0 5.478 1.738 8.03 5.412 8.03s5.412-2.552 5.412-8.03-1.738-8.008-5.412-8.008-5.412 2.53-5.412 8.008zm3.168 0c0-4.026.484-5.544 2.244-5.544s2.244 1.518 2.244 5.544-.484 5.566-2.244 5.566-2.244-1.54-2.244-5.566z" class="B"/><text xml:space="preserve" x="28.663" y="78.889" class="C D E"><tspan x="28.663" y="78.889" class="B F G">170</tspan></text><text xml:space="preserve" x="-96.18" y="17.006" class="C D E"><tspan x="-96.18" y="17.006" class="B F G">30</tspan></text><text xml:space="preserve" x="-74.016" y="-46.418" class="C D E"><tspan x="-74.016" y="-46.418" class="B F G">60</tspan></text><text xml:space="preserve" x="-12.298" y="-79.834" class="C D E"><tspan x="-12.298" y="-79.834" class="B F G">90</tspan></text><text xml:space="preserve" x="36.122" y="-46.758" class="C D E"><tspan x="36.122" y="-46.758" class="B F G">120</tspan></text><text xml:space="preserve" x="58.968" y="17.006" class="C D E"><tspan x="58.968" y="17.006" class="B F G">150</tspan></text></g></svg>
                    </div>
                </div>                
            </div>
            
            <div id="tie_background" data-tour="data-tie" class="data-point tie">
                <span class="data-point-title">Tie</span>
                <span id="tie-speed" class="data-point-data">? mm/s</span>
                
                <!-- tachometer -->
                <div id="speedometer-tie" class="speedometer">
                    <div class="speedometer-container">
                        <div class="speedometer-ball">
                            <span>?</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="11.339" height="83.15" viewBox="0 0 3 22" xmlns:v="https://vecta.io/nano"><path d="M2.575 21.531H.194zm0 0L2.573 6.185l-.794-2.117V.099H.985v3.969L.192 6.185.194 21.531z" fill="#d2d2d2"/></svg>
                        </div>
    
                        <svg xmlns="http://www.w3.org/2000/svg" width="268.346" height="268.346" viewBox="0 0 71 71" xmlns:v="https://vecta.io/nano"><style>.B{fill:#fff}.C{font-size:22.631px}.D{font-family:sans-serif}.E{fill:#000}.F{font-weight:bold}.G{font-family:Arial}</style><g transform="matrix(.264583 0 0 .264583 35.610155 37.35425)"><g stroke="#fff"><path d="M-58.779 80.902l-14.695 20.225m-5.118-24.164l-10.717 10.495m-1.017-24.68l-12.317 8.561m3.112-24.503l-13.572 6.387m7.155-23.642l-14.447 4.034m20.943-23.162l-24.863 2.613m14.532-19.973l-14.97-.942m17.659-17.27l-14.604-3.425m20.293-14.083l-13.828-5.813m22.357-10.501l-12.665-8.037"/><path d="M-74.314-66.913l-18.579-16.728m24.567-2.565l-9.317-11.755m24.65 1.567l-7.226-13.145m24.044 5.658l-4.933-14.166m22.763 9.587l-2.502-14.79M0-100v-25m18.345 16.54l2.502-14.79m15.328 19.369l4.933-14.166m11.885 21.653l7.226-13.145m8.107 23.333l9.317-11.755m-3.329 31.048l18.579-16.728m-5.275 17.135l11.948-9.069m-6.69 16.634l12.665-8.037m-8.059 16.015l13.293-6.949m-9.37 15.285l13.828-5.813M95.106-30.902l23.776-7.725m-11.788 13.508l14.604-3.425M108.82-16.069l14.839-2.191M109.783-6.907l14.97-.942M109.976 2.304l14.997.314m-25.521 7.835l24.863 2.613m-16.263 7.546l14.734 2.811m-16.838 6.158l14.447 4.034m-17.294 4.728l14.059 5.229m-17.629 3.264l13.572 6.387M86.603 50l21.651 12.5m-17.928.278l12.317 8.561m-17.887-1.222l11.558 9.561m-17.722-2.715l10.717 10.495m-17.433-4.189l9.801 11.355M58.779 80.902l14.695 20.225"/></g><path d="M-56.419 70.388c0 5.478 1.738 8.03 5.412 8.03s5.412-2.552 5.412-8.03-1.738-8.008-5.412-8.008-5.412 2.53-5.412 8.008zm3.168 0c0-4.026.484-5.544 2.244-5.544s2.244 1.518 2.244 5.544-.484 5.566-2.244 5.566-2.244-1.54-2.244-5.566z" class="B"/><text xml:space="preserve" x="28.663" y="78.889" class="C D E"><tspan x="28.663" y="78.889" class="B F G">170</tspan></text><text xml:space="preserve" x="-96.18" y="17.006" class="C D E"><tspan x="-96.18" y="17.006" class="B F G">30</tspan></text><text xml:space="preserve" x="-74.016" y="-46.418" class="C D E"><tspan x="-74.016" y="-46.418" class="B F G">60</tspan></text><text xml:space="preserve" x="-12.298" y="-79.834" class="C D E"><tspan x="-12.298" y="-79.834" class="B F G">90</tspan></text><text xml:space="preserve" x="36.122" y="-46.758" class="C D E"><tspan x="36.122" y="-46.758" class="B F G">120</tspan></text><text xml:space="preserve" x="58.968" y="17.006" class="C D E"><tspan x="58.968" y="17.006" class="B F G">150</tspan></text></g></svg>
                    </div>
                </div>           
            </div>
            
            <div data-tour="data-hall" class="data-point hall">
                <span class="data-point-title">Last measured fixpoint</span>
                <span id="hall-odometer" class="data-point-data">? odometer steps ago</span>
                <span id="hall-time" class="data-point-data">? seconds ago</span>
            </div>

        </div>
    
        <span data-tour="data-updated" class="updated-last">
            <span id="last-update-data">? ago</span>
            <span id="last-update-full-data">HH:MM:SS</span>
        </span>
    
    </section>
    
    <section class="content-column main">
        <!--<iframe src="/stream/{{ board.id }}" frameborder="0" scrolling="no"><iframe>-->
        <div class="stream" data-tour="stream">
            <img id="stream-image" draggable="false" src="/static/img/placeholder/placeholder.jpg" alt=""> <!-- /stream/{{ board.id }}/# -->
            <div id="stream-offline">
                OFFLINE
                <p>Click <span onclick="$('stream-image').src = '/stream/{{ board.id }}/force/#'; this.parentElement.style.display = 'none';">here</span> to view the last picture sent</p>
            </div>

            <div id="stream-chooser">
                <h4>Select camera stream</h4>

                <div id="stream-refresh-boards" class="stream-refresh-boards">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 4V1L8 5l4 4V6c3.31 0 6 2.69 6 6 0 1.01-.25 1.97-.7 2.8l1.46 1.46C19.54 15.03 20 13.57 20 12c0-4.42-3.58-8-8-8zm0 14c-3.31 0-6-2.69-6-6 0-1.01.25-1.97.7-2.8L5.24 7.74C4.46 8.97 4 10.43 4 12c0 4.42 3.58 8 8 8v3l4-4-4-4v3z"/></svg>
                    <span>Refresh Boards</span>
                </div>
                <div id="stream-boards" class="stream-boards">
                    
                </div>

            </div>

            <div data-tour="stream-controls" class="stream-controls">
                <div>
                    <div class="stream-controls-entry" id="camera-toggle">
                        <svg id="camera-off" class="camera-off" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0zm0 0h24v24H0z" fill="none"/><path d="M21 6.5l-4 4V7c0-.55-.45-1-1-1H9.82L21 17.18V6.5zM3.27 2L2 3.27 4.73 6H4c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.21 0 .39-.08.54-.18L19.73 21 21 19.73 3.27 2z"/></svg>

                        <svg id="camera-on" class="camera-on" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M17 10.5V7c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.55 0 1-.45 1-1v-3.5l4 4v-11l-4 4z"/></svg>
                    </div>
                    <div id="camera-rotate" class="stream-controls-entry">
                        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><rect fill="none" height="24" width="24"/></g><g><g><path d="M9,12c0,1.66,1.34,3,3,3s3-1.34,3-3s-1.34-3-3-3S9,10.34,9,12z"/><path d="M8,10V8H5.09C6.47,5.61,9.05,4,12,4c3.72,0,6.85,2.56,7.74,6h2.06c-0.93-4.56-4.96-8-9.8-8C8.73,2,5.82,3.58,4,6.01V4H2v6 H8z"/><path d="M16,14v2h2.91c-1.38,2.39-3.96,4-6.91,4c-3.72,0-6.85-2.56-7.74-6H2.2c0.93,4.56,4.96,8,9.8,8c3.27,0,6.18-1.58,8-4.01V20 h2v-6H16z"/></g></g></svg>
                    </div>
                    <div class="stream-controls-entry">
                        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><path d="M0,0h24v24H0V0z" fill="none"/></g><g><g><rect height="3" width="2" x="11" y="19"/><rect height="2" width="3" x="2" y="11"/><rect height="2" width="3" x="19" y="11"/><rect height="3" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -7.6665 17.8014)" width="1.99" x="16.66" y="16.66"/><rect height="1.99" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -10.9791 9.8041)" width="3" x="4.85" y="17.16"/><path d="M15,8.02V3H9v5.02C7.79,8.94,7,10.37,7,12c0,2.76,2.24,5,5,5s5-2.24,5-5C17,10.37,16.21,8.94,15,8.02z M11,5h2v2.1 C12.68,7.04,12.34,7,12,7s-0.68,0.04-1,0.1V5z M12,15c-1.65,0-3-1.35-3-3s1.35-3,3-3c1.65,0,3,1.35,3,3S13.65,15,12,15z"/></g></g></svg>
                        <input type="range" min="0" max="10" value="0" class="slider" id="camera-brightness-light">
                    </div>
                </div>
                
                <div class="stream-camera-quality">
                    <span>FPS: </span>
                    <select name="camera-fps" id="camera-fps">
                        <option value="10">10 FPS</option>
                        <option value="5" selected>5 FPS</option>
                        <option value="1">1 FPS</option>
                    </select>
                    <span>Quality: </span>
                    <select name="camera-quality" id="camera-quality">
                        <!--<option value="UXGA">HIGHEST - (1600 x 1200)</option>
                        <option value="SXGA">VERY HIGH (1280 x 1024)</option>
                        <option value="XGA">HIGH (1024 x 768)</option>
                        <option value="SVGA">GOOD (800 x 600)</option>
                        <option value="VGA">MEDIUM (640 x 480)</option>
                        <option value="CIF">LOW (352 x 288)</option>
                        <option value="QQVGA">VERY LOW (160 x 120)</option>-->
                        <option value="XGA">Very High (1024 x 768)</option>
                        <option value="SVGA">High (800 x 600)</option>
                        <option value="VGA" selected>Normal (640 x 480)</option>
                        <option value="CIF">Low (352 x 288)</option>
                        <option value="QQVGA">Very Low (160 x 120)</option>
                    </select>
                </div>
            </div>
        </div>
    </section>
    
    <section class="content-column right">

        <div class="data-status-wrapper" data-tour="status">
            <div class="data-status">
                
                <div data-tour="status-latency" class="data-status-latency">
                    <span id="behind-real-time">? seconds</span>
                    <span>behind real time</span>
                </div>

                <div id="data-status-wifi" data-tour="status-wifi" class="data-status-icon data-status-wifi" data-text="Disconnected">
                    <div class="data-status-svg-container" id="wifi-disconnected">
                        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><path d="M0,0h24v24H0V0z" fill="none"/></g><g><path d="M24,8.98C20.93,5.9,16.69,4,12,4C7.31,4,3.07,5.9,0,8.98L12,21v-9h8.99L24,8.98z M19.59,14l-2.09,2.09l-0.3-0.3L15.41,14 L14,15.41l1.79,1.79l0.3,0.3L14,19.59L15.41,21l2.09-2.08L19.59,21L21,19.59l-2.08-2.09L21,15.41L19.59,14z"/></g></svg>
                    </div>                 
                    <div class="data-status-svg-container" id="wifi-bar">
                        <svg preserveAspectRatio="xMinYMid slice" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><path d="M0,0h24v24H0V0z" fill="none"/></g><g><path d="M12,4C7.31,4,3.07,5.9,0,8.98L12,21L24,8.98C20.93,5.9,16.69,4,12,4z"/></g></svg>
                    </div>
                    <div class="data-status-svg-container" id="wifi-empty">
                        <svg preserveAspectRatio="xMinYMid slice" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><path d="M0,0h24v24H0V0z" fill="none"/></g><g><path d="M12,4C7.31,4,3.07,5.9,0,8.98L12,21L24,8.98C20.93,5.9,16.69,4,12,4z M2.92,9.07C5.51,7.08,8.67,6,12,6 c3.33,0,6.49,1.08,9.08,3.07L12,18.17L2.92,9.07z"/></g></svg>
                    </div>
                </div>

                <div id="data-status-battery" data-tour="status-battery" class="data-status-icon data-status-battery" data-text="?">
                    <div class="data-status-svg-container" id="battery-unknown">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M15.67 4H14V2h-4v2H8.33C7.6 4 7 4.6 7 5.33v15.33C7 21.4 7.6 22 8.33 22h7.33c.74 0 1.34-.6 1.34-1.33V5.33C17 4.6 16.4 4 15.67 4zm-2.72 13.95h-1.9v-1.9h1.9v1.9zm1.35-5.26s-.38.42-.67.71c-.48.48-.83 1.15-.83 1.6h-1.6c0-.83.46-1.52.93-2l.93-.94c.27-.27.44-.65.44-1.06 0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5H9c0-1.66 1.34-3 3-3s3 1.34 3 3c0 .66-.27 1.26-.7 1.69z"/></svg>
                    </div>
                    <div class="data-status-svg-container" id="battery-full">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M15.67 4H14V2h-4v2H8.33C7.6 4 7 4.6 7 5.33v15.33C7 21.4 7.6 22 8.33 22h7.33c.74 0 1.34-.6 1.34-1.33V5.33C17 4.6 16.4 4 15.67 4z"/></svg>
                    </div>
                    <div class="data-status-svg-container" id="battery-empty">
                        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><rect fill="none" height="24" width="24"/></g><g><path d="M17,5v16c0,0.55-0.45,1-1,1H8c-0.55,0-1-0.45-1-1V5c0-0.55,0.45-1,1-1h2V2h4v2h2C16.55,4,17,4.45,17,5z M15,6H9v14h6V6z"/></g></svg>
                    </div>
                </div>

                <div id="btn-layout" data-tour="status-layout" class="data-status-icon data-status-layout">
                    <div id="btn-layout-with-camera" class="data-status-svg-container">
                        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><rect fill="none" height="24" width="24"/><path d="M21,5h-3v14h3V5z M17,5H7v14h10V5z M6,5H3v14h3V5z"/></svg>
                    </div>
                    <div id="btn-layout-without-camera" class="data-status-svg-container" style="display: none;">
                        <svg style="transform: rotate(90deg);" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><rect fill="none" height="24" width="24"/><g><path d="M14.67,5v14H9.33V5H14.67z M15.67,19H21V5h-5.33V19z M8.33,19V5H3v14H8.33z"/></g></svg>
                    </div>
                    
                </div>

                <div id="btn-configuration" data-tour="status-settings" class="data-status-icon data-status-settings">
                    <div class="data-status-svg-container">
                        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><path d="M0,0h24v24H0V0z" fill="none"/><path d="M19.14,12.94c0.04-0.3,0.06-0.61,0.06-0.94c0-0.32-0.02-0.64-0.07-0.94l2.03-1.58c0.18-0.14,0.23-0.41,0.12-0.61 l-1.92-3.32c-0.12-0.22-0.37-0.29-0.59-0.22l-2.39,0.96c-0.5-0.38-1.03-0.7-1.62-0.94L14.4,2.81c-0.04-0.24-0.24-0.41-0.48-0.41 h-3.84c-0.24,0-0.43,0.17-0.47,0.41L9.25,5.35C8.66,5.59,8.12,5.92,7.63,6.29L5.24,5.33c-0.22-0.08-0.47,0-0.59,0.22L2.74,8.87 C2.62,9.08,2.66,9.34,2.86,9.48l2.03,1.58C4.84,11.36,4.8,11.69,4.8,12s0.02,0.64,0.07,0.94l-2.03,1.58 c-0.18,0.14-0.23,0.41-0.12,0.61l1.92,3.32c0.12,0.22,0.37,0.29,0.59,0.22l2.39-0.96c0.5,0.38,1.03,0.7,1.62,0.94l0.36,2.54 c0.05,0.24,0.24,0.41,0.48,0.41h3.84c0.24,0,0.44-0.17,0.47-0.41l0.36-2.54c0.59-0.24,1.13-0.56,1.62-0.94l2.39,0.96 c0.22,0.08,0.47,0,0.59-0.22l1.92-3.32c0.12-0.22,0.07-0.47-0.12-0.61L19.14,12.94z M12,15.6c-1.98,0-3.6-1.62-3.6-3.6 s1.62-3.6,3.6-3.6s3.6,1.62,3.6,3.6S13.98,15.6,12,15.6z"/></g></svg>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="quick-actions" data-tour="actions">
            <h3>Quick Actions</h3>
            <div>
                <button id="new-round" data-tour="actions-new-round">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/></svg>
                    <span>New Round</span>
                </button>
                <button id="export-csv" data-tour="actions-export">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M10 10.02h5V21h-5zM17 21h3c1.1 0 2-.9 2-2v-9h-5v11zm3-18H5c-1.1 0-2 .9-2 2v3h19V5c0-1.1-.9-2-2-2zM3 19c0 1.1.9 2 2 2h3V10H3v9z"/></svg>
                    <span>Export CSV</span>
                </button>
                <button id="restart-esp" data-tour="actions-restart">
                    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><path d="M0,0h24v24H0V0z" fill="none"/></g><g><g><path d="M12,5V2L8,6l4,4V7c3.31,0,6,2.69,6,6c0,2.97-2.17,5.43-5,5.91v2.02c3.95-0.49,7-3.85,7-7.93C20,8.58,16.42,5,12,5z"/><path d="M6,13c0-1.65,0.67-3.15,1.76-4.24L6.34,7.34C4.9,8.79,4,10.79,4,13c0,4.08,3.05,7.44,7,7.93v-2.02 C8.17,18.43,6,15.97,6,13z"/></g></g></svg>
                    <span>Restart</span>
                </button>
            </div>
        </div>

        <div id="tabs" class="data-diagrams">
            <div class="tab-choose" data-tour="diagrams-chooser">
                <div id="tab-speeddiagram-btn" class="tab-choose-btn active">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M20.38 8.57l-1.23 1.85a8 8 0 0 1-.22 7.58H5.07A8 8 0 0 1 15.58 6.85l1.85-1.23A10 10 0 0 0 3.35 19a2 2 0 0 0 1.72 1h13.85a2 2 0 0 0 1.74-1 10 10 0 0 0-.27-10.44zm-9.79 6.84a2 2 0 0 0 2.83 0l5.66-8.49-8.49 5.66a2 2 0 0 0 0 2.83z"/></svg>
                    <span>Speeddiagram</span>
                </div>
                <div id="tab-polardiagram-btn" class="tab-choose-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm8.94 3c-.46-4.17-3.77-7.48-7.94-7.94V1h-2v2.06C6.83 3.52 3.52 6.83 3.06 11H1v2h2.06c.46 4.17 3.77 7.48 7.94 7.94V23h2v-2.06c4.17-.46 7.48-3.77 7.94-7.94H23v-2h-2.06zM12 19c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z"/></svg>
                    <span>Polardiagram</span>
                </div>
                <div id="show-graph" class="tab-choose-btn">
                    <svg id="graph-fullscreen" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M7 14H5v5h5v-2H7v-3zm-2-4h2V7h3V5H5v5zm12 7h-3v2h5v-5h-2v3zM14 5v2h3v3h2V5h-5z"/></svg>
                    <svg id="graph-fullscreen-exit" style="display: none" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M5 16h3v3h2v-5H5v2zm3-8H5v2h5V5H8v3zm6 11h2v-3h3v-2h-5v5zm2-11V5h-2v5h5V8h-3z"/></svg>
                </div>
            </div>

            <div class="tabs">
                <div id="tab-speeddiagram" class="tab active">
                    <canvas id="chartjs-speeddiagram"></canvas>
                    <div id="chartjs-speeddiagram-legend"></div>
                </div>
                <div id="tab-polardiagram" class="tab">
                    <div class="horizontal">
                        <p>270</p>
                        <div class="vertical">
                            <div class="text-horizontal">
                                <p class="left-text">360</p>
                                <p class="center-text">|</p>
                                <p class="right-text">0</p>
                            </div>
                            <canvas id="chartjs-polardiagram"></canvas>
                            <p>180</p>
                            <div id="chartjs-polardiagram-legend"></div>
                            <!-- <img class="polardiagram" src="/static/img/placeholder/polar-placeholder.png" alt=""> -->
                        </div>
                        <p>90</p>
                    </div>
                </div>
            </div>

            
        </div>
    </section>
</div>


{% include 'include/footer.html' %}

