{% include 'include/head.html' %}

<!-- Page styling -->
<link rel="stylesheet" href="/static/css/landing/landing.min.css">

<section class="landing-title">
    <h2>Welcome to the project</h2>
    <h1>Kameraortungswagen (KOW)</h1>

    <button id="tour-start" class="cta">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 13h8V3H3v10zm0 8h8v-6H3v6zm10 0h8V11h-8v10zm0-18v6h8V3h-8z"/></svg>
        <span>Let's tour the website!</span>
    </button>
    <!--<a href="/boards" class="cta">
        
    </a>-->
</section>

<section class="landing-introduction">
    <h2>Introduction</h2>
    <p>This project aims to develop a <strong>Kameraortungswagen</strong> for the Eisenbahnbetriebsfeld Darmstadt, which will allow for the precise location of trains on the model railway and stream a camera image of them. The trolley will help in mapping the model track and serve as a physical control to the digital twin of the track layout.</p>
    
    <h2>Features</h2>
    <p>The trolley consists of a microprocessor board (ESP32-CAM) an several sensors. It captures the data of these sensors and sends it to a central server, which displays the data on this website.</p>
    <p>For the wireless communication it uses WiFi, which will ensure seamless data transmission and real-time monitoring of the train's location.</p>
</section>


<section class="landing-step-by-step">
    <h2>Step-by-Step - Tutorial</h2>
    <ol>
        <li>To view all boards that are currently or were previously connected, click on <i>Boards</i> in the navigation bar.</li>
        <li>Here you can see a list of boards connected to the system, along with their name, ip address and last time a data packet was received.</li>
        <li>Click on a specific board to view its sensor data in more detail.</li>
        <li>Here you can see the board's current and past speed, how many odometer steps have passed since the start of the current round, and the live camera image if the board is connected.</li>
    </ol>
</section>

<section class="landing-glossary">
    <h2>Glossary</h2>
    <p>Here you can find a list of all terms used in this project:</p>
    
    <div class="landing-glossary-grid">
        <div class="word">
            <span>Round</span>
            <span>A round is the track between two fixpoints. The trolley starts a new round when it passes a fixpoint.</span>
        </div>
        <div class="word">
            <span>Odometer</span>
            <span>The odometer sensor counts the number of wheel rotations. It is used to determine the current speed of the trolley.</span>
        </div>
        <div class="word">
            <span>Tie</span>
            <span>The tie sensor counts the number of passed ties. It is used to determine the current speed of the trolley.</span>
        </div>
        <div class="word">
            <span>Speed-diagram</span>
            <span>The speed-diagram shows the speed of the trolley over time. X being the amount of odometer steps in current and previous round mapped to the speed on the Y-axis in mm/s.</span>
        </div>
        <div class="word">
            <span>Polardigram</span>
            <span>The polardigram shows the position of the trolley over time.</span>
        </div>
        <div class="word">
            <span>Hall sensor</span>
            <span>The hall sensor detects a fixpoint on the track.</span>
        </div>
        <div class="word">
            <span>Steering angle</span>
            <span>The steering angle indicates the angle of the trolley.</span>
        </div>
        <div class="word">
            <span>Camera</span>
            <span>The trolley's camera is streamed to the interface.</span>
        </div>
        <div class="word">
            <span>Flashlight</span>
            <span>The flashlight is an onboard LED on the train which can be used to illuminate the track.</span>
        </div>
    </div>
</section>



<!--
<h2>Hardware</h2>
<h4>Sensors</h4>
<p>The trolley uses the following sensors:</p>
<table>
    <tr>
        <th>Sensor</th>
        <th>Type</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>Odometer</td>
        <td>digital</td>
        <td>Counts the number of wheel rotations</td>
    </tr>
    <tr>
        <td>Tie</td>
        <td>digital</td>
        <td>Counts the number of passed ties</td>
    </tr>
    <tr>
        <td>Steering angle</td>
        <td>analog</td>
        <td>Indicates the angle of the trolley</td>
    </tr>
    <tr>
        <td>Battery</td>
        <td>analog</td>
        <td>Indicates the battery level</td>
    </tr>
    <tr>
        <td>Camera</td>
        <td></td>
        <td>Streams a camera image of the train</td>
    </tr>
</table>
-->




{% include 'include/footer.html' %}

