{% include 'include/head.html' %}

<link rel="stylesheet" href="/static/css/login.min.css">


<form action="/login" method="post" class="login-form">
    <div class="login-item login-text login-header">Login</div>
    <div class="login-item login-notification login-{{ notification_type }}">{{ notification }}</div>
    <input class="login-item login-input" name="username" type="text" placeholder="Benutzer" value="{{ user }}">
    <input class="login-item login-input" name="password" type="password" placeholder="Passwort" value="{{ password }}">
    <input class="login-item login-input" type="submit" value="Anmelden">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
</form>


{% include 'include/footer.html' %}
