{% include 'include/head.html' %}

<link rel="stylesheet" href="/static/css/user.min.css">


    <section>
        <h1>User information</h1>

        <p>View and edit your personal user information.</p>
    </section>

    <section>
        <form class="user-info" action="/user" method="post">
            <table>
                <tr class="notification-{{ notification_type }}">
                    <td colspan="2">
                        <div class="notification notification-{{ notification_type }}">{{ notification }}</div>
                    </td>
                </tr>

                <tr>
                    <td><label for="username">Username</label></td>
                    <td><input id="username" type="text" readonly name="username" value="{{ username }}"></td>
                </tr>

                <tr>
                    <td><label for="role">Role</label></td>
                    <td><input id="role" type="text" readonly name="role" value="{{ role }}"></td>
                </tr>

                <tr>
                    <td><label for="password_current">Current password</label></td>
                    <td><input id="password_current" type="password" name="password_current" value="{{ password_current}}"></td>
                </tr>

                <tr>
                    <td><label for="password_future">New password</label></td>
                    <td><input id="password_future" type="password" name="password_future" value="{{ password_future }}"></td>
                </tr>

                <tr>
                    <td><label for="password_future_confirm">Confirm new password</label></td>
                    <td><input id="password_future_confirm" type="password" name="password_future_confirm" value="{{ password_future_confirm }}"></td>
                </tr>
            </table>

            <input type="submit" value="Save changes">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        </form>
    </section>

{% include 'include/footer.html' %}
