<link rel="stylesheet" href="/static/css/dashboard/calibration.min.css">

<script defer src="/static/js/dashboard/calibration.js"></script>
<div id="modal-configuration" class="modal-configuration">
    <div id="modal-configuration-content" class="modal-configuration-content">
        <div class="modal-close-container">
            <span class="modal-close">&times;</span>
        </div>
        <h2>Configuration</h2>

        <div class="read-interval">
            <h3>Read Interval</h3>

            <div class="current-reading">
                <span>Current Read Interval: </span>
                <span id="read-interval">?</span>
                <span>ms</span>
            </div>

            <input type="number" id="new-read-interval" placeholder="read interval in ms">

            <div id="read-interval-save" class="btn read-interval-save">
                <span>Save read interval</span>
            </div>
        </div>
        
        <div class="steering-calibration">
            <h3>Steering Angle Calibration</h3>

            <div class="current-reading">
                <span>Current Steering Sensor Reading: </span>
                <span id="steering-angle-reading-calibration">3600</span>
                <span> mV</span>
            </div>

            <div id="calibration-save" class="btn calibration-btn">
                <span>Save & Close</span>
            </div>
            <div id="calibration-add" class="btn calibration-btn">
                <span>+</span>
            </div>
            <div id="steering-list" class="steering-list">

            </div>
        </div>
    </div>
</div>