<link rel="stylesheet" href="/static/css/listing/firmware-update.min.css">

<script defer src="/static/js/listing/modal-firmware.js"></script>

<div class="btn-firmware-update-container">
    <button class="btn-firmware-update" id="btn-firmware-update">Update Firmware</button>
</div>
<div id="modal-firmware-update" class="modal-firmware-update">
    <div id="modal-firmware-update-content" class="modal-firmware-update-content">
        <div class="modal-close-container">
            <span class="modal-close">&times;</span>
        </div>
        <h2>Firmware Update OTA</h2>
        <p>Update the firmware of the ESPs over the air. Please select one of the boards to update it</p>
    
        <form action="/api/ota" method="POST">
    
            <div class="modal-firmware-boards">
                {% if boards|length == 0 %} <span class="no-boards">Currently no boards connected!</span> {% endif %}
                <!-- TODO: Update to use the api response -->
                {% for board in boards %}
                <div class="modal-firmware-board">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0z" fill="none"></path><path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"></path></svg>
                        <input type="checkbox" data-board="{{ board.name }}">  
                    </div>
                    <span class="modal-firmware-board-name">{{ board.name }}</span>
                </div>
                {% endfor %}
            </div>
    
            <div class="modal-file-select">
                <div class="drop-area">Drop files here</div>
                <label for="firmware">Select a firmware file:</label>
                <input type="file" id="firmware" name="firmware">
            </div>
            
            <input class="modal-firmware-confirm" type="submit" value="Update selected boards">
        </form>
    </div>
</div>