#driver-highlighted-element-stage {
    //background-color: var(--background-light) !important;
    background-color: #007be0 !important;
    border-radius: 1em !important;
}

.driver-popover-title {
    color: black;
}

#driver-popover-item * {
    color: black;
}

.driver-popover-description i {
    margin-bottom: 0;
    font: 14px/normal sans-serif;
    font-weight: normal;
    line-height: normal;
    line-height: 1.5;
    color: #2d2d2d;
    font-weight: 400;
    font-style: italic;
}

