.landing-title {
    margin: 0 auto;
    padding: 4em;
    padding-top: 6em;
    padding-bottom: 6em;
    text-align: center;

    background: var(--background-header);

    h1 {
        font-size: 2.5rem;
        font-weight: bold;
    }

    .cta {        
        border: none;
        outline: none;
        background: none;

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.8em;
        padding-left: 1.5em;
        padding-right: 1.5em;
        text-decoration: none;
        gap: 0.5em;
        
        background-color: rgba(0,0,0,0.25);
        width: fit-content;

        cursor: pointer;
        
        margin: 0 auto;
        margin-top: 2em;
        border-radius: 1em;

        user-select: none;

        svg {
            width: 2rem;
            height: 2rem;
        }
        span {
            font-size: 1.5rem;
            font-weight: bold;
        }
    }

    .cta:hover {
        background-color: rgba(0,0,0,0.5);
    }
}

section {
    padding-left: 3em;
    padding-right: 3em;
    h2 {
        font-size: 2rem;
        font-weight: bold;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    p, li, span {
        font-size: 1.5rem;
        font-weight: 300;
    }
}


.landing-step-by-step {
    ol {
        margin-left: 2em;
    }
}


.landing-glossary {
    .landing-glossary-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
        gap: 1em;
        margin-top: 1.5em;

        .word {
            background-color: rgba(0,0,0,0.25);

            text-align: center;

            padding: 1em;
            padding-top: 1.5em;
            padding-bottom: 1.5em;

            border-radius: 1em;

            span:nth-of-type(1) {
                font-weight: bold;
                margin-bottom: 0.5em;
            }

        }
    }
}

section:last-of-type {
    margin-bottom: 5em;
}