.modal-configuration {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);


    .modal-configuration-content {
        position: relative;
        background-color: var(--background-light);
        margin: 10% auto;
        padding: 1.5em;
        width: 60%;

        border-radius: 1em;

        .modal-close-container {
            width: 100%;
            display: grid;
            .modal-close {
                position: absolute;
                right: 1em;
                top: 0.5em;


                color: #aaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
                cursor: pointer;
            }
    
            .modal-close:hover,
            .modal-close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }

}

.modal-configuration-content {
   
    .btn {
        padding: 0.5em;
        margin-bottom: 1em;
        background: #fff;
        display: grid;
        justify-items: center;
        align-items: center;
        width: 100%;
        cursor: pointer;
        
        span {
            color: black;
        }
    }

    .btn:hover {
        background: #dedede;
    }

    .current-reading {
        font-size: 1.2em;
        margin-top: 1em;
        margin-bottom: 1em;
        span {
            display: inline-block;
        }
        span:nth-of-type(2), span:nth-of-type(3) {
            font-weight: bold;
            font-size: 1.2em;
        }
    }

    h3 {
        font-weight: normal;
    }

    .read-interval {
        input {
            width: 100%;
            color: black;
            background-color: white;
            font-size: 1.2em;
            margin-bottom: 1em;
            padding-left: 0.5em;
            padding-right: 0.5em;
        }

        #read-interval-save {
            font-weight: bold;
        }
    }

    .steering-calibration {
        margin-top: 1em;
       

        #calibration-save {
            font-weight: bold;  
        }

        .steering-list {
            width: 100%;
            border: 1px solid #fafafa;
            margin-bottom: 1em;

            input {
                color: black;
            }

            .steering-entry {
                width: 100%;
                
                display: flex;
                justify-items: space-between;
                align-items: center;
                gap: 1em;
                box-sizing: border-box;
                padding: 0.5em;
                padding-top: 1em;
                padding-bottom: 1em;
                background: #022848;

                border-bottom: 1px solid #fafafa;
            }

            .steering-entry-value {
                display: grid;
                grid-template-columns: 3fr 1fr;
                gap: 1em;

                padding-left: 1em;
                padding-right: 1em;

                border-right: 1px solid #fafafa;

                input {
                    width: 100%;
                }
            }

            // min
            .steering-entry-value:nth-of-type(1) {

                span:nth-of-type(2) {
                    padding: 0.2em;
                    background-color: #00457d;
                    width: fit-content;

                    border-radius: 0.8em;
                    padding-left: 0.8em;
                    padding-right: 0.8em;
                    padding-top: 0.2em;
                    padding-bottom: 0.2em;
                }
            }

            // max
            .steering-entry-value:nth-of-type(2) {
                text-align: right;
                justify-items: right;

                span:nth-of-type(3) {
                    padding: 0.2em;
                    background-color: #00457d;
                    width: fit-content;

                    border-radius: 0.8em;
                    padding-left: 0.8em;
                    padding-right: 0.8em;
                    padding-top: 0.2em;
                    padding-bottom: 0.2em;
                }
            }

            // angle + description
            .steering-entry-value:nth-of-type(3) {
                grid-template-columns: 1fr 1fr;

                text-align: center;
                justify-items: center;

                span {
                    padding: 0.2em;
                    background-color: #00457d;
                    width: fit-content;

                    border-radius: 0.8em;
                    padding-left: 0.8em;
                    padding-right: 0.8em;
                    padding-top: 0.2em;
                    padding-bottom: 0.2em;
                }
            }

            // remove button
            .steering-entry-value:nth-of-type(4) {
                cursor: pointer;
                grid-template-columns: auto;
                border-right: none;
                padding: 0.5em;
                padding-left: 0.8em;
                padding-right: 0.8em;
                margin-right: 0.5em;
                background: #ac0000;
                text-align: center;
                border-radius: .5em;
                user-select: none;
            }
        }
    }
}


/*

  .steering-entry-value {
                    width: 100%;
                    display: grid;
                    grid-template-columns: min-content min-content;
                }

                .steering-entry-value:nth-of-type(4) {
                    span {
                        display: grid;
                        align-items: center;
                        padding: 1em;
                        background-color: #fff;
                        color: black;
                        user-select: none;
                    }
                }

*/