.content-grid {
    display: grid;
    position: relative;
    width: 100%;
    //grid-template-columns: min-content auto min-content;
    grid-template-columns: 22% 56% 22%;
}

.content-column {
    width: 100%;
}

h3 {
    margin-bottom: 1em;
    font-size: 1.4em;
}

.left {
    h3 {
        text-align: center;
    }

    .data {
        .data-point {
            margin-bottom: 1.5em;

            padding-left: 1.5em;
            padding-right: 1.5em;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            background-color: var(--background-light);
            border-radius: 1em;
            //width: fit-content;
            width: auto;

            .data-point-title {
                font-size: 1em;

            }

            .data-point-data {
                font-weight: bold;
                font-size: 1.5em;
            }

        }

        .steering {
            div {
                display: flex;
                align-items: center;
                gap: 0.5em;
            }

            .data-point-data {
                display: inline-block;
            }
        }

        #hall-time,
        #steering-angle-reading {
            display: block;
            font-size: 0.8em;
            font-weight: normal;
        }
    }

}

.main {
    .stream {
        position: relative;

        img {
            position: relative;
            width: 100%;
            transform: rotate(180deg);
            user-select: none;
            aspect-ratio: 4 / 3;
            object-fit: cover;
            background-color: #022848;
        }

        #stream-offline {
            // disable for now
            display: none !important;
        }

        #stream-offline,
        #stream-chooser {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 0.5em;
            padding-left: 1.5em;
            padding-right: 1.5em;
            background: var(--background-light);
            opacity: 80%;
            font-size: 3em;
            font-weight: bold;
            text-align: center;
            user-select: none;

            border-radius: 0.5em;

            h4 {
                font-size: .6em;
            }

            p {
                font-size: 0.4em;
                font-weight: normal;

                span {
                    display: inline;
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }

        #stream-chooser {
            padding-left: 0.5em;
            padding-right: 0.5em;

            #stream-refresh-boards {
                display: flex;
                align-items: center;
                gap: 0.2em;
                align-items: center;
                width: fit-content;
                cursor: pointer;
                margin-top: 0.2em;
                margin-bottom: 0.2em;


                span {
                    font-size: 0.4em;
                    font-weight: normal;
                }
            }

            .stream-boards {
                text-align: left;

                .stream-board {
                    display: flex;
                    align-items: center;
                    gap: 0.5em;

                    cursor: pointer;

                    background-color: rgba(0, 0, 0, 0.25);
                    border-radius: 0.2em;

                    padding: 0.2em;
                    width: 100%;

                    text-align: left;

                    span {
                        text-align: left;
                        font-size: 0.4em;
                    }
                }
            }
        }

        #camera-rotate {
            transition: all 0.4s ease-in-out;
        }

        .stream-controls {
            /*position: absolute;
            left: 0;
            bottom: 0;*/
            padding: 0.5em;
            width: 100%;
            background-color: #022848;

            display: flex;
            justify-content: space-between;

            div {
                display: flex;
                align-items: center;
                gap: 0.5em;
            }

            .stream-camera-quality {
                text-align: right;

                select {
                    appearance: none;
                    outline: 0;
                    background-color: #022848;
                    border: none;
                    padding: 0 1em 0 0;
                    margin: 0;
                    //width: 100%;
                    font-family: inherit;
                    font-size: inherit;
                    cursor: pointer;
                    line-height: inherit;
                    text-align: right;
                }
            }



            .stream-controls-entry {
                display: flex;
                padding: .4em;
                padding-right: 0.4em;
                padding-left: 0.4em;
                padding-left: .6em;
                padding-right: .6em;
                border-radius: 1em;
                align-items: center;
                cursor: pointer;
                gap: 0.5em;
            }

            .camera-on {
                display: none;
            }

            .camera-off {
                fill: red;
            }

            .slider {
                outline: 0;
                cursor: pointer;
            }
        }
    }
}

.right {
    text-align: center;

    .data-status-wrapper {
        display: flex;
        justify-content: end;
        width: 100%;
        background: var(--background-light);
        border-radius: 1em;
        margin-bottom: 1em;
    }

    .data-status {
        display: flex;
        gap: 1em;
        align-items: center;
        width: fit-content;
        padding: 1em;



        .data-status-latency {
            text-align: right;
            padding-right: 1em;

            span {
                font-size: 0.8em;
            }

            span:nth-of-type(1) {
                font-size: 1em;
                font-weight: bold;
            }
        }

        .data-status-icon {
            display: block;
            position: relative;
            width: 2em;
            height: 2em;

            .data-status-svg-container {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(120%);
            }
        }

        #btn-layout {
            cursor: pointer;
        }


        .data-status-settings {
            cursor: pointer;
        }

        #wifi-bar {
            clip-path: inset(100% 0px 0px 0px);
            display: none;
        }

        #wifi-empty {
            display: none;
        }

        .data-status-wifi:hover::after,
        .data-status-battery:hover::after {
            content: attr(data-text);
            width: 130px;
            height: auto;
            position: absolute;
            bottom: -80%;
            left: 50%;
            background: #c1c1c1;
            transform: translate(-50%, 80%);
            border-radius: 0.5em;
            padding: 0.5em;
            transition: all 1s ease-in-out;
        }

        .data-status-battery:hover::after {
            width: 70px;
        }

        .data-status-settings:hover {
            svg {
                fill: rgba(0, 0, 0, 0.6);
            }
        }

        .data-status-battery {
            svg {
                transform: rotate(90deg);
                transform-origin: center;
            }
        }

        #battery-full {
            // full - inset(0px 0% 0px 0px)
            // inset(0px 25% 0px 0px)
            // empty - inset(0px 87% 0px 0px)
            clip-path: inset(0px 0px 0px 0px);
            display: none;
        }

        #battery-empty {
            display: none;
        }

    }

    .quick-actions {
        width: 100%;

        div {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 0.5em;
        }

        button {
            width: 100%;
            //height: 100%;
            outline: 0;
            border: 0;
            background-color: var(--background-light);
            padding-left: 1em;
            padding-left: 1em;
            padding: 1em;
            border-radius: 1em;
            font-family: var(--font-family);
            font-weight: bold;
            font-size: 1em;
            cursor: pointer;
            margin-bottom: 1em;
        }

        button:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }

    }


    .tab-choose {
        width: 100%;
        display: grid;
        //justify-content: space-around;
        grid-template-columns: 5fr 2fr 1fr;
        align-items: center;
        gap: 0.5em;
        margin-top: 1em;

        .tab-choose-btn {
            padding: 0.5em;
            padding-left: 0.8em;
            padding-right: 0.8em;
            display: flex;
            align-items: center;
            gap: 0.5em;
            cursor: pointer;
            border-radius: 1em;
            background: rgba(0, 0, 0, 0.3);
            font-size: 0.9em;
        }

        #show-graph {
            display: block;
            padding: 0;
            padding-left: 0;
            padding-right: 0;
            background: none;
        }

        .tab-choose-btn:hover,
        .active {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }

    .tabs {
        .tab {
            display: none;
        }

        #tab-speeddiagram {
            width: 100%;
            height: 400px;
            margin-top: 1em;
        }

        #tab-polardiagram {
            width: 100%;
            height: 400px;
            margin-top: 1em;
            align-items: center;
            text-align: center;

            .horizontal {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                .vertical {
                    height: 100%;

                    .text-horizontal {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;

                        .left-text,
                        .right-text {
                            flex-grow: 0.05;
                        }

                        .center-text {
                            flex-grow: 0;
                        }
                    }
                }
            }
        }

        #chartjs-speeddiagram-legend {
            font-size: 0.8em;
        }

        #chartjs-polardiagram-legend {
            font-size: 0.8em;
        }

        .active {
            display: block;
        }
    }
}


img {
    width: 100%;
}

.updated-last {
    font-style: italic;
    font-size: 0.8em;
    margin-top: 1em;
    cursor: pointer;

    span:nth-of-type(2) {
        opacity: 0;
        transition: all 0.2s ease-in-out;
    }

    :hover+span:nth-of-type(2) {
        opacity: 1;

    }
}

@keyframes warning {
    0% {
        background-color: #FF7E00;
    }

    50% {
        background-color: #FFE0B2;
    }

    100% {
        background-color: #FF7E00;
    }
}

.graph-fullscreen {
    display: grid;
    background-color: rgb(3, 54, 96);
    position: absolute;
    margin: 0;
    top: 50%;
    left: calc(50%);
    transform: translate(-50%, -50%);
    width: calc(56% - 2em);
    height: auto;
    border: 1px solid #fff;
    padding: 1em;
    padding-bottom: calc(100px + 1em);

    .tab-choose {
        width: auto;
        display: grid;
        grid-template-columns: max-content max-content min-content;
        justify-self: center;

        #show-graph {
            position: absolute;
            right: 1em;
            top: 1em;
        }
    }
}

/*.outer-round {
    width: 100px;
    height: 50px;
    overflow: hidden;
    position: relative;
    .round {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: blue;
    }

    .inner-circle-outer {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80px;
        height: 30px;
        border-radius: 50%;
        transform: translate(-50%,-50%);
        .inner-circle {
            width: 80px;
            height: 80px;
            background-color: #fff;
            border-radius: 50%;
        }
    }
}*/