

@media only screen and (max-width: 1100px) {
    .content-grid {
        display: grid;
        position: relative;
        width: 100%;
        //grid-template-columns: min-content auto min-content;
        //grid-template-columns: 20% 60% 20%;
        grid-template-columns: 100%;

        // TODO: center on top (maybe use grid-area)
    }
    
}