.speedometer {
    user-select: none;
    position: relative;
    
    .speedometer-container {
        position: relative;
        width: 175px;
        height: 175px;
        margin: 0 auto;
    }

    svg {
        width: 100%;
        height: 100%;
    }

    .speedometer-ball {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: #d2d2d2;

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            color: black;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -100%) rotate(-146deg);
            transform-origin: bottom;
            height: 70px;
            z-index: 0;
            transition: all 0.5s ease-in-out;
            //clip-path: polygon(31% 0, 68% 0, 68% 21%, 100% 47%, 100% 100%, 0 100%, 0 47%, 31% 21%);
        }
    }

}