.without-camera {

    display: grid;
    position: relative;
    width: 100%;
    //grid-template-columns: min-content auto min-content;
    grid-template-columns: auto;
    grid-template-rows: auto 0 auto;

    section {
        margin-top: 0em;
        padding-bottom: 0em;
    }

    h3 {
        display: none;
    }

    .main {
        display: none !important;
    }


    .left {
        margin-top: 6em;

        .data {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 1em;

            .data-point {
                display: grid;
                justify-items: center;
                align-items: center;
            }
        }



        .updated-last {
            text-align: center;
            margin-top: 0em;
        }
    }

    .right {
        padding-top: 0.5em;

        .data-status-wrapper {
            position: absolute;
            width: fit-content;
            top: 1em;
            right: 1em;
        }

        .tab-choose {
            grid-template-columns: 1fr 1fr;

            #show-graph {
                display: none;
            }
        }
    }

}